<div class="page-header">
  <%= link_to checks_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_check_path(@check), :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show check</h1>
</div>

<dl class="dl-horizontal">
  <dt>Target:</dt>
  <dd><%= @check.target %></dd>

  <dt>Content:</dt>
  <dd><%= @check.content %></dd>

</dl>
